* {
  /* don't use '0px' or any other unit, if you set the value to zero */
  padding: 0;
  margin: 0;
  border: 0;
}

/*HOME PAGE*/

.container {
  background: url("./images/cooking-hero-image.jpg") no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(8px + 1.5625vw);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  justify-content: center;
}

.hero-title {
  color: white;
  font-size: calc(32px + 1.5625vw);
}

.menu {
  display: flex;
  column-gap: 50px;
  margin: 20px;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: calc(12px + 1.5625vw);
}

.button {
  background-color: rgba(62, 142, 65, 0.5);

  border-radius: 10px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
}

.button:hover {
  background-color: rgba(62, 142, 65, 1);
  transition: all 150ms ease-in-out;
}

/*PAGES*/

.page-wrapper {
  background-color: antiquewhite;
}

img {
  max-width: 100%;
}
